<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
 id="com.oxygenxml.plugin.ConvertHexToChar"
 name="ConvertHexToChar"
 description="Converts a sequence of four hexadecimal characters to the UTF-8 character (glyph) of that codepoint.  The '0x' should not be included."
 version="${project.nosnapshot.version}"
 vendor="Syncro Soft"
 class="dila.chtc.CHTCPlugin"
 classLoaderType="preferReferencedResources">
 <runtime>
        <library name="lib/${project.build.finalName}.jar"/>
 </runtime>
 
 <extension type="WorkspaceAccess" 
  class="dila.chtc.CHTCPluginExtension"/>
</plugin>
