<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
    id="com.oxygenxml.plugin.FormSentences"
    name="Form Sentences"
    description="Convert the first letter from each sentence to uppercase"
    version="${project.nosnapshot.version}"
    vendor="Syncro Soft"
    class="dila.formsentences.FormSentencesPlugin"
    classLoaderType="preferReferencedResources">
    <runtime>
        <library name="lib/${project.build.finalName}.jar"/>
    </runtime>
    <extension type="selectionProcessor" 
    class="dila.formsentences.FormSentencesPluginExtension"/>
</plugin>
