<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">
<plugin
 id="com.oxygenxml.plugin.CustomOpenRedirect"
 name="OpenRedirect"
 description="Test"
 version="${project.nosnapshot.version}"
 vendor="Syncro Soft"
 class="dila.openredirect.OpenRedirectPlugin"
 classLoaderType="preferReferencedResources">
 <runtime>
     <library name="lib/${project.build.finalName}.jar"/>
 </runtime>
 <extension type="OpenRedirect" 
  class="dila.openredirect.CustomOpenRedirectExtension"/>
</plugin>
